.se-respondent-editor > .se-body {
  max-width: 1200px!important;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

.se-respondent-editor > .se-body > div {
  width: 50%;
  padding: 10px;
}

.sc-respondent-register .sc-toolbox {
  margin-bottom: 10px;
}

.sc-respondent-register .se-thumbnail {
  background-size: cover;
  height: 100px;
}

.sc-respondent-register .se-imageviewer {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
}

.sc-respondent-register .se-imageviewer img {
  max-width: 90%;
  max-height: 80%;
  margin-top: 2%;
}
