@import './_meta-filters.css';
@import './_resources.css';

.sc-search-explorer {
  width: calc(100% - 2em);
  height: 100vh;
  position: absolute;
  top: 0;
  left: 2em;
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  z-index: 30;
}

.sc-search-explorer .se-close {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  font-size: 2em;
  cursor: pointer;
  padding: 0 0.5em;
}

.sc-search-explorer .sc-searchbar {
  position: relative;
  z-index: 10;
}

.sc-search-explorer .sc-searchbar .se-search-input {
  max-width: 100%;
  border: 1px solid #E0E4E4;
  background: none;
  height: 60px;
  font-size: 1em;
  color: #fff;
}

.sc-search-explorer .sc-searchbar .se-search-submit {
  position: absolute;
  top: 15px;
  right: 0px;
  height: 30px;
  line-height: 30px;
  padding: 0px 10px;
  color: #fff;
  border-radius: 3px;
}

.sc-search-explorer .sc-searchbar .se-search-submit:hover,
.sc-search-explorer .sc-searchbar .se-search-submit:active {
  background: rgba(160, 160, 160, 0.4)!important;
}

.sc-search-explorer .se-results-pane {
  padding-top: 30px;
}

.sc-search-explorer .se-explorer-layout > .sc-split-pane {
  padding: inherit;
  margin-top: 70px;
}

.sc-search-explorer .se-empty-set {
  padding: 40px 10px;
}

.sc-search-explorer .sc-grid {
  border: 1px dashed #E0E4E4;
  border-radius: 3px;
  padding: 10px;
  margin: 10px 0;
  height: calc(100% - 200px);
}

.sc-search-explorer .sc-grid .se-row:hover {
  background: none;
}

.sc-search-explorer .sc-document-item .se-topic-badges {
  padding-top: 10px;
}

.sc-search-explorer .sc-document-item .se-topic-badge {
  background: rgba(194, 234, 35, 0.16);
  margin-right: 10px;
  margin-bottom: 10px;
  color: #888;
  display: inline-block;
  padding: 3px 5px;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 3px;
}

.sc-search-explorer .sc-document-item .se-topic-badge i {
  margin-right: 5px;
}

.sc-search-explorer .sc-grid .sc-grid {
  overflow: inherit;
}

.sc-search-explorer .sc-document-item.sm-expanded {
  border-bottom: none;
}

.sc-search-explorer .se-document-fragment {
  display: block;
  clear: both;
  color: inherit;
  border-bottom: 1px solid rgba(230, 230, 230, 0.3);
}

.sc-search-explorer .se-document-fragment p strong {
  color: #c7ffc4;
  text-decoration: underline;
}

.sc-search-explorer .sc-document-item .se-document-fragment:first-of-type {
  border-top: 1px solid #e6e6e6;
}

.sc-search-explorer .se-document-fragment > .se-cell {
  display: table-cell;
  float: none;
  vertical-align: middle;
  font-size: 0.8em;
}

.sc-search-explorer .se-document-fragment .se-badge {
  background: transparent;
  text-align: center;
  min-width: 60px;
  color: #fff;
}

.sc-search-explorer .se-document-fragment .se-badge .se-timecode {
  font-size: 10px;
}

.sc-search-explorer .se-document-fragment:before,
.sc-search-explorer .se-document-fragment:after {
  content: " ";
  display: table;
}

.sc-document-item .se-document-photo {
  height: 0;
  padding-bottom: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
}

.sc-document-item .se-meta-info > * {
  display: inline-block;
  padding-right: 15px;
  text-decoration: underline;
}

.sc-document-item .se-document-title {
  display: block;
  font-size: 18px;
  padding: 10px 0px;
  color: inherit;
  line-height: 1.3em;
}

.sc-document-item .se-photo {
  padding: 15px 10px 15px 0px;
}

.sc-search-explorer .se-sidebar {
  overflow: auto;
  margin: 0px 0px 0px 20px;
}

.sc-search-explorer .se-sidebar .se-total {
  padding-bottom: 10px;
  font-size: 20px;
  font-style: italic;
  width: 270px;
}

.sc-search-explorer .se-sidebar .sc-resource-entries .se-entry,
.sc-search-explorer .se-sidebar .sc-topic-entries .se-entry {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  background-color: rgba(132, 132, 132, 0.1);
  color: #555;
  font-size: 13px;
  cursor: pointer;
}

.sc-search-explorer .se-panel {
  border: 1px solid var(--border-color);
  border-radius: 3px;
  margin-bottom: 10px;
  position: relative;
}

.sc-search-explorer .se-panel .se-title {
  font-size: 14px;
  color: #000;
  padding: 10px 50px 10px 10px;
  background: #fafafa;
  border-bottom: 1px solid #ddd;
  border-left: 4px solid transparent;
}

.sc-facets .se-tree-node {
  position: relative;
  font-size: 13px;
  font-weight: 400;
  border-bottom: 1px solid #E0E4E4;
  padding: 10px 50px 10px 10px;
  background: #fafafa;
  border-bottom: 1px solid #ddd;
  border-left: 4px solid transparent;
  cursor: pointer;
}

.sc-facets .se-tree-node.level-1 { padding-left: 25px; }
.sc-facets .se-tree-node.level-2 { padding-left: 41px; }
.sc-facets .se-tree-node.level-3 { padding-left: 57px; }
.sc-facets .se-tree-node.level-4 { padding-left: 73px; }
.sc-facets .se-tree-node.level-5 { padding-left: 89px; }
.sc-facets .se-tree-node.level-6 { padding-left: 105px; }

.sc-facets .se-tree-node.sm-selected {
  border-left: 4px solid #91bb04;
  background: #fff;
}

.sc-facets .se-tree-node .se-tree-node-name {
  padding-left: 20px;
}

.sc-facets .se-tree-node .selection {
  float: right;
  font-size: 23px;
  padding: 9px 20px;
  top: 0px;
  position: absolute;
  right: 0px;
}

.sc-facets .se-tree-node .selection.fa-square-o {
  padding: 9px 23px;
}

.sc-facets .se-tree-node .expansion {
  font-size: 23px;
  position: absolute;
  top: 7px;
}
